Source: cz-xen-utils
Section: admin
Priority: optional
Maintainer: Bill MacAlliser <bill@ca-zephyr.org>
Build-Depends: debhelper (>= 9), perl, perltidy, libappconfig-perl,
 libipc-run-perl, libnet-dns-perl, libnet-netmask-perl, libnet-remctl-perl,
 libauthen-krb5-perl
Standards-Version: 3.9.4

Package: cz-xen-utils
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, minicom, rinse,
 libappconfig-perl, libipc-run-perl, libnet-dns-perl,
 libnet-netmask-perl, libnet-remctl-perl, libauthen-krb5-perl
Description: Scripts to support Xen Systems
 The package includes scripts that make it simpler to integrate into
 an environment that supports remctl.  Of special significance is the
 cz-xen script that supports remctl management of Xen virtual
 machines.  The package also includes scripts for console access to
 virtural machines and backup of virtual machaines.
